{% extends 'default/index.html'%}
    
{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card card-body">
      <div class="card-header">
        <h3>Geolocaliser la garantie</h3>
      </div>

      <div class="card-body">

        <form class="myForm" action="" method="POST">
          <div class="row g-3">
          {% csrf_token %}
          
        
          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Longitude</label>
            {{form.long}}
          </div>

          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Latitude</label>
            {{form.lat}}
          </div>

        
      
        </div>
        <br>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>

        </form>
        

      </div>

    </div>
  </div>
</div>

<script>
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition, showError);
    }
  }
  function showPosition(position) {
    document.querySelector('.myForm input[name="lat"]').value =
      position.coords.latitude;
    document.querySelector('.myForm input[name="long"]').value =
      position.coords.longitude;
  }
  function showError(error) {
    switch (error.code) {
      case error.PERMISSION_DENIED:
        alert(
          "Vous devez autoriser la demande de géolocalisation pour remplir le formulaire"
        );
        location.reload();
        break;
    }
  }

  window.onload = getLocation();
</script>

{% endblock %}




