{% extends 'default/index.html'%}
    
{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card card-body">
      <div class="card-header">
        <h3>Ajouter une caution</h3>
      </div>

      <div class="card-body">

        <form class="myForm" action="" method="POST">
          <div class="row g-3">
          {% csrf_token %}
          <div class="col-md-6">
            <label for="" class="form-label">Nom du client</label>
              {{form.client}}
          </div>

          <div class="col-md-6">
            <label for="" class="form-label">Nom</label>
              {{form.nom_caution}}
          </div>
        
          <div class="col-md-6">
            <label for="" class="form-label">Prénoms</label>
              {{form.Prénoms_caution}}
          </div>
        
          <hr>
        
          <div class="col-md-6">
            <label for="" class="form-label">Numéro de compte</label>
              {{form.compte_caution}}
        
          </div>
        
          <div class="col-md-6">
            <label for="" class="form-label">Téléphone</label>
              {{form.Tél_caution}}
          </div>
        
          <div class="col-md-6">
            <label for="" class="form-label">Email</label>
              {{form.email_caution}}
          </div>
          
          {% comment %} <div class="col-md-6">
            <label for="inputAddress" class="form-label">Longitude</label>
            {{form.long}}
          </div>

          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Latitude</label>
            {{form.latitude}}
          </div> {% endcomment %}
      
        </div>
        <br>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-primary">AJOUTER</button>
        </div>

        </form>
        

      </div>

    </div>
  </div>
</div>


{% endblock %}




