{% extends 'default/index.html' %}

{% block content %}

<h3 class="text-center">Liste des agences</h3> <br/>

<div class="row">
	<div class="col">
			<div class="card card-body">

					<form method="get">
							{{myfilter.form}}

							<button class="btn btn-primary btn-sm" type="submit">Rechercher</button>
					</form>

			</div>
	</div>

</div>

<br>


<!-- [ Main Content ] start -->
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Institution</th>
			<th scope="col">Agence</th>
			<th>Affichage</th>
		</tr>

	</thead>
	<tbody>
		{% for i in agence %}
		<tr>
			<td>{{i.entreprise}}</td>
			<td>{{i.nom_agence}}</td>
			<td><a class="btn btn-sm btn-info" href="{% url 'profil_agence' i.id %}">Afficher</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}