{% extends 'default/index.html' %}

{% block content %}

<h3 class="text-center">Liste des débiteurs</h3> <br/>
    <div class="row">
        <div class="col">
            <div class="card card-body">

                <form method="get">
					{{myfilter.form}}

                    <button class="btn btn-primary btn-sm" type="submit">Rechercher</button>
                </form>

            </div>
        </div>

    </div>

	<br>

<!-- [ Main Content ] start -->
<table class="table table-hover">
	<thead>
		<tr>
			
            <th>Nom et prénoms</th>
            <th>Début</th>
            <th>Echéance</th>
            <th>Statut</th>
            <th>Infoline</th>
            <th>Action</th>
			
		</tr>
	</thead>
	<tbody>
		{% for i in debiteur %}
		<tr>
            
            <td>{{i.nom}} {{i.prenom}}</td>
            <td>{{i.debut}}</td>
            <td>{{i.echeance}}</td>
            <td>{{i.statut}}</td>
            <td>{{i.infoline}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'profil_client_avec_credit' i.id %}">Afficher</a></td>	
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>

</div>

</div>
</div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}