{% extends 'default/index.html' %}

{% block content %}

<div class="container">

  <h3  class="text-center">Caution</h3> <br/>
<div class="row">
    <div class="col-md-8">
      
        <div class="card card-body">
            <h4>{{profil.nom_caution}} {{profil.Prénoms_caution}}</h4>
            <h7>Date de création du profil: <strong style="color: blue; font-size: medium">{{profil.date_creation}}</strong></h7><hr>

            <div class="container">
              <div class="row">
                <div class="col">

                  <h5>Informations sur la caution</h5>

                    <div class="col">
                      <h6>Client cautionné: <strong style="color: blue; font-size: medium">{{profil.client.nom_client}} {{profil.client.Prénoms_client}}</strong></h6>
                    </div>

                    <div class="col">
                      <h6>Nom: <strong style="color: blue; font-size: medium">{{profil.nom_caution}}</strong></h6>
                    </div>

                    <div class="col">
                      <h6>Prénoms: <strong style="color: blue; font-size: medium">{{profil.Prénoms_caution}}</strong></h6>
                    </div>

                    <div class="col">
                      <h6>Numéro de compte: <strong style="color: blue; font-size: medium">{{profil.compte_caution}}</strong></h6>
                    </div>

                    <div class="col">
                      <h6>Téléphone: <strong style="color: blue; font-size: medium">{{profil.Tél_caution}}</strong></h6>
                    </div>

                    <div class="col">
                      <h6>Email: <strong style="color: blue; font-size: medium">{{profil.email_caution}}</strong></h6>
                    </div> <br>
                </div>

                  <div class="col">

                    <h5>Données de locatisation de la caution</h5>

                    <div class="col">
                      <h6>Longitude du lieu de residence: <strong style="color: blue; font-size: medium">{{profil.long_residence}}</strong></h6>
                    </div>

                    <div class="col">
                      <h6>Latitude du lieu de residence: <strong style="color: blue; font-size: medium">{{profil.lat_residence}}</strong></h6>
                    </div>

                    <div class="col">
                      <h6>Longitude du lieu de travail: <strong style="color: blue; font-size: medium">{{profil.longitude_lt}}</strong></h6>
                    </div>

                    <div class="col">
                      <h6>Latitude du lieu de travail: <strong style="color: blue; font-size: medium">{{profil.latitude_lt}}</strong></h6>
                    </div>

                  </div>
                </div>


                </div>

        </div> 
             

    </div>

    <br>


    <div class="col-md">
        <div class="card card-body">
            <h5>Options</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'caution_residence' profil.id %}">Localiser la résidence</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'caution_lieu_travail' profil.id %}">Localiser le lieu de travail</a>
            {% if user.is_staff %}
            <!-- <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'modifier_caution' profil.id %}">Modifier la caution</a> -->
            <a class="btn btn-outline-danger  btn-sm btn-block" href="">Supprimer la caution</a>
            {% endif %}
            <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'imprimer_caution' profil.id %}">Imprimer</a>


        </div>
    
        <br>

        

            </div>
        </div>
        
      <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Adressage</h4>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
        <!-- [ basic-map ] start -->
        <div class="col-lg-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h3>Résidence</h3>
                    
                </div>
                <div class="card-body">
                    <div style="height:400px;">
                        <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" 
      src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q={{profil.lat_residence}},{{profil.long_residence}}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
       style="filter: scale(100) contrast(1.2) opacity(0.4);"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ basic-map ] end -->
        <!-- [ Markers-map ] start -->
        <div class="col-lg-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h3>Lieu de travail</h3>
                </div>
                <div class="card-body">
                    <div class="set-map" style="height:400px;">
                        <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" 
      src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q={{profil.latitude_lt}},{{profil.longitude_lt}}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
       style="filter: scale(100) contrast(1.2) opacity(0.4);"></iframe>
                    </div>
                </div>
            </div>
        </div>
</div>


    {% endblock content %}