{% extends 'default/index.html' %} {% block content %}

<br />
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card card-body">
        <h4>Garantie</h4> 
        <h7>
          Date de création:
          <strong style="color: blue; font-size: medium"
            >{{profil.date_creation}}</strong
          >
        </h7><hr>

        <div class="container">
          <div class="row">
            <div class="list-group">
              <div class="col">
                <h6>
                  Client cautionné:
                  <strong style="color: blue; font-size: medium"
                    >{{profil.client.nom_client}} {{profil.client.Prénoms_client}}</strong
                  >
                </h6>
              </div>

              <div class="col">
                <h6>
                  Longitude:
                  <strong style="color: blue; font-size: medium"
                    >{{profil.long}}</strong
                  >
                </h6>
              </div>

              <div class="col">
                <h6>
                  Latitude:
                  <strong style="color: blue; font-size: medium"
                    >{{profil.lat}}</strong
                  >
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>

    <br />

    <div class="col-md">
      <div class="card card-body">
        <h5>Options</h5>
        <hr>
        <a
          class="btn btn-outline-info btn-sm btn-block"
          href="{% url 'adresse_garantie' profil.id %}"
          >Localiser la garantie</a
        >
        <!-- <a
          class="btn btn-outline-info btn-sm btn-block"
          href="{% url 'modifier_caution' profil.id %}"
          >Modifier la garantie</a
        > -->
        
        <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'imprimer_garantie' profil.id %}"
          >Imprimer</a
        >
       
      </div>

      <br />
    </div>
  </div>

  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="m-b-10">Adressage</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ breadcrumb ] end -->
<!-- [ Main Content ] start -->
<div class="row">

      <!-- [ Markers-map ] start -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Adresse de la garantie</h5>
        </div>
        <div class="card-body">
          <div class="set-map" style="height: 400px">
            <iframe
              width="100%"
              height="100%"
              class="absolute inset-0"
              frameborder="0"
              title="map"
              marginheight="0"
              marginwidth="0"
              scrolling="no"
              src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q={{profil.lat}},{{profil.long}}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
              style="filter: scale(100) contrast(1.2) opacity(0.4)"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5>Photo de façade</h5>
          </div>
          <div class="card-body">
            <div class="set-map" style="height: 300px">
              <img src="{{profil.photo_facade.url}}" alt="" style="width: 475px; height: 300px;">
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5>Photo de profil</h5>
          </div>
          <div class="card-body">
            <div class="set-map" style="height: 300px"> 
                <img src="{{profil.photo_profil.url}}" alt="" style="width: 475px; height: 300px;">
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Plan topographique</h5>
          </div>
          <div class="card-body">
            <div class="set-map">
              <img src="{{profil.plan_maison.url}}" alt="" style="width: 1020px; height: 600px;">
                
            </div>
          </div>
        </div>
      </div>

</div>

{% endblock content %}
