{% extends 'default/index.html' %}

{% block content %}

<h3  class="text-center">Profil de l'institution</h3> <br/>

<div class="container">
<div class="row">

    <div class="col-md-8">
        <div class="card card-body">
            <h3>{{profil.nom_ense}}</h3><hr>

            <div class="container">
                <div class="row">
                <div class="col">
                    <h6>Date de création: <strong style="color: blue; font-size: medium">{{profil.date_creation}}</strong></h6>
                </div>
    
        </div>      

    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-body shadow p-3 mb-5 bg-body rounded">
                    <h5>Nombre d'agences</h5>
                    <hr>
                    <h1 style="text-align: center;">{{tax_total_payé}}</h1>
                </div>
            </div>  
             <div class="col-sm-6">
                
                <div class="card card-body shadow p-3 mb-5 bg-body rounded">
                    <h5>Nombre de clients</h5>
                    <hr>
                    <h1 style="text-align: center;">{{tax_total_non_payé}}</h1>
                </div>
            </div>
       </div>
    
    </div>
        </div>
    </div>

    <br>


    <div class="col-md">
        <div class="card card-body">
            <h5>Options</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'modifier_entreprise' profil.id %}">Modifier le nom de l'institution</a>
            <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'supprimer_entreprise' profil.id %}">Supprimer l'institution</a>


        </div>
    
        <br>

            </div>
        </div>
    </div>
</div>


    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">

                <form method="get">

						{{myfilter.form}}

                    <button class="btn btn-primary btn-sm" type="submit">Rechercher</button>
                </form>

            </div>
        </div>

    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <div class="card-header">
                    <h5>Liste des agences</h5>
                </div>
                <table class="table table-sm">
                    <tr>
                        <th>Date</th>
                        <th>Agences</th>
                        <th>Affichage</th>
                    </tr>

                    {% for i in fact %}

                    <tr>
                        <td>{{i.date_creation}}</td>
                        <td>{{i.nom_agence}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'profil_agence' profil.id %}">Afficher</a></td>
                    </tr>

                    {% endfor %}


                </table>
            </div>
        </div>
    </div>


    {% endblock content %}