{% extends 'default/index.html'%}

{% block content %}


<div class="position-relative">
    <div class="position-absolute top-50 start-50 translate-middle"></div>
        <div class="col-md-6">
            <div class="card card-body">
                <h3>Supprimer l'institution</h3><hr>

                <p>Voulez vous vraiment supprimer "{{structure}}" ?</p><hr>

                <form action="{% url 'supprimer_entreprise' structure.id %}" method="POST">
                    {% csrf_token %}

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-sm btn-warning" href="{% url 'liste_entreprise' %}">Annuler</a>

                        <button class="btn btn-sm btn-danger" type="submit" name="Confirm">Supprimer</button>
                    </div>
                    

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}