{% extends 'default/index.html' %}

{% block content %}

<p>
    Nous vous avons envoyé une instruction afin de vous permettre de changer votre mot de passe.
    Si un compte existe avec l'adresse mail que vous avez fourni, vouz recevrez l'instruction
    d'ici peu.
</p>

<p>
    Si vous ne recevez toujours pas de mail, s'il vous plaît assurer vous que l'adresse mail que 
    vous avez fourni est identique à celle que vous avez fourni lors de la creation de votre compte.
    Vérifiez également votre fichier spam.
</p>

{% endblock content %}